@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--gradient: #9bbdfe;

		--background: 233 63.699999999999996% 6.4%;
		--foreground: 233 9.8% 99%;

		--muted: 233 49% 24%;
		--muted-foreground: 233 9.8% 58%;

		--popover: 233 45.4% 10.4%;
		--popover-foreground: 233 9.8% 99%;

		--card: 233 45.4% 10.4%;
		--card-foreground: 233 9.8% 99%;

		--border: 233 49% 24%;
		--input: 233 49% 24%;

		--primary: 233 98% 80%;
		--primary-foreground: 233 9.8% 8%;

		--secondary: 233 49% 24%;
		--secondary-foreground: 233 9.8% 99%;

		--accent: 233 49% 24%;
		--accent-foreground: 233 9.8% 99%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 233 9.8% 99%;

		--ring: 233 98% 80%;
		--radius: 0.5rem;
	}

	.dark {
		--gradient: #9bbdfe;

		--background: 233 63.699999999999996% 6.4%;
		--foreground: 233 9.8% 99%;

		--muted: 233 49% 24%;
		--muted-foreground: 233 9.8% 58%;

		--popover: 233 45.4% 10.4%;
		--popover-foreground: 233 9.8% 99%;

		--card: 233 45.4% 10.4%;
		--card-foreground: 233 9.8% 99%;

		--border: 233 49% 24%;
		--input: 233 49% 24%;

		--primary: 233 98% 80%;
		--primary-foreground: 233 9.8% 8%;

		--secondary: 233 49% 24%;
		--secondary-foreground: 233 9.8% 99%;

		--accent: 233 49% 24%;
		--accent-foreground: 233 9.8% 99%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 233 9.8% 99%;

		--ring: 233 98% 80%;
	}
}

.markdown p {
	margin-top: 0px;
	margin-bottom: 1rem /* 16px */;
}

.markdown th {
	padding-left: 0.75rem /* 12px */;
	padding-right: 0.75rem /* 12px */;

	padding-top: 0.5rem /* 8px */;
	padding-bottom: 0.5rem /* 8px */;

	font-weight: 600;
}

.markdown tr,
.markdown th,
.markdown td {
	border: 1px solid;
	border-color: hsl(var(--muted));
}

.markdown tr:nth-child(2n) {
	background-color: rgb(39 39 42);
}

.markdown td {
	padding-top: 0.5rem /* 8px */;
	padding-bottom: 0.5rem /* 8px */;

	padding-left: 0.75rem /* 12px */;
	padding-right: 0.75rem /* 12px */;
}
.markdown pre {
	font-size: 14px !important;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	tab-size: 4;
	hyphens: none;
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
	border-radius: 4px;
}

.markdown img {
	max-width: 100%;
}

.markdown a {
	display: inline-block;
}

.markdown * {
	line-height: 1.5;
}

.markdown h1,
.markdown h2 {
	border-bottom-width: 1px;
	border-color: hsl(var(--muted));
}

.markdown hr {
	height: 0.25rem /* 4px */;
	margin-top: 1.5rem /* 24px */;
	margin-bottom: 1.5rem /* 24px */;

	border-style: none;
	background-color: hsl(var(--muted));
}

.markdown h1 {
	font-size: 32px;
}

.markdown h2 {
	font-size: 24px;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5 {
	scroll-margin: 6rem; /* 96px */
	font-weight: 600;
	word-break: break-all;

	margin-top: 1.5rem; /* 24px */
	margin-bottom: 1.5rem; /* 24px */
}
