@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--gradient: #9bbdfe;

		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 233 98% 80%;
		--primary-foreground: 233 9.8% 8%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--ring: 221.2 83.2% 53.3%;
		--radius: 0.5rem;
	}

	.dark {
		--gradient: #9bbdfe;

		--background: 233 63.699999999999996% 6.4%;
		--foreground: 233 9.8% 99%;

		--muted: 233 49% 24%;
		--muted-foreground: 233 9.8% 58%;

		--popover: 233 45.4% 10.4%;
		--popover-foreground: 233 9.8% 99%;

		--card: 233 45.4% 10.4%;
		--card-foreground: 233 9.8% 99%;

		--border: 233 49% 24%;
		--input: 233 49% 24%;

		--primary: 233 98% 80%;
		--primary-foreground: 233 9.8% 8%;

		--secondary: 233 49% 24%;
		--secondary-foreground: 233 9.8% 99%;

		--accent: 233 49% 24%;
		--accent-foreground: 233 9.8% 99%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 233 9.8% 99%;

		--ring: 233 98% 80%;
	}
}
